@page "/"

<PageTitle>Home</PageTitle>

@foreach (var item in items)
{
    <div>@item</div>
})

Welcome to your new app.
@code {
    private List<string> items;

    protected override async Task OnInitializedAsync()
    {
        // await Task.Delay(1000); Simulate API call
        items = new List<string> { "Item 1", "Item 2", "Item 3" };
    }
}